<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.fbc.yowbow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a048ddd399479faea9795f1671878b811880b77f" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopActivity"
            android:label="@string/title_activity_top" >
        </activity>
        <activity
            android:name=".DemandAddActivity"
            android:label="@string/title_activity_demand_add" >
        </activity>
        <activity
            android:name=".DemandResultActivity"
            android:label="@string/title_activity_demand_result" >
        </activity>
        <activity
            android:name=".DemandViewActivity"
            android:label="@string/title_activity_demand_view" >
        </activity>
    </application>

</manifest>
